.aboutContainer {
  height: calc(90vh - 100px);
  max-width: 60vw;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: azure;
  display: flex;
    align-items: center;
    justify-content: center;
}
.aboutContainer p{
    font-weight: 500;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}